@media screen and (min-width:600px) 
{
  p{
     font-size: 1.25rem;
     font-size: 12px;

  }

  .menu {
   
    
   
    margin: 0;
    width: 18px;
    height:25px;
   html{
    font-size: 62.5%;
   }
   
  }

}
